<?xml version="1.0" encoding="utf-8"?>
<module authorizationPolicy="episerver:cmsadmin">
  <assemblies>
    <add assembly="Optimizely.Percy" />
  </assemblies>
  <clientModule>
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>
</module>
